
/* ==== Select All ==== */

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

/* ==== Top Header ==== */

/* = Sale bar = */
.non-sticky-nav{
  background-color: rgb(59, 59, 59);
}

.sale-countdown{
  color: rgb(255, 255, 255);
  display: grid;
  font-size: 1.2rem;
  grid-template-columns: 1fr 2rem;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  height: 2rem;
  align-content: center;
}

.fa-times-circle{
  color: rgb(110, 110, 110);
}

.fa-times-circle:hover{
  cursor: pointer;
  color: red
}

/* = Nav bar = */

.sticky-nav {
  align-items: center;
  background-color: rgba(34, 34, 34, 0.308);
  display: grid;
  font-weight: 300;
  grid-template-columns: 30rem 1fr 30rem;
  letter-spacing: 2px;
  margin: none;
  overflow: hidden;
  text-transform: uppercase;
}

.logo-sm{
  width: 25%;
  padding-left: 10px;
}

.main-nav{
  text-align: right;
}

.main-nav a {
  color: white;
  padding: 10px;
  margin: none;
  text-decoration: none;
  transition: 300ms ease-in-out;
}

.main-nav a:hover{
  background-color: rgb(92, 92, 92);
}

.view-cart{
  padding: 5px;
  cursor: pointer;
}

.main-nav i{
  color: white;
  transition: 300ms ease-in-out;
}

.main-nav i:hover{
  color: #30b3ff;
  cursor: pointer;
}

/* = Sticky the Nav after scroll = */

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

/* ==== Landing ==== */

h1{
  font-size: 3rem;
  font-weight: 300
}

.hero-carousel{
  align-items: center;
  background: no-repeat center fixed url("img/hero/hero1.jpeg");
  background-size: cover;
  color: #fff;
  display: grid;
  height: 60rem;
  grid-column-start: 1fr;
  justify-content: center;
}

.landing-container{
  margin-bottom: 9rem;
  filter: drop-shadow(3px 3px 3px #000);
  text-align: center;
}

/* ~~~~ Shiny Button ~~~~ */

.shop-button{
  background: linear-gradient(90deg, #2222223b, #4747473d);
  border: 1px solid white;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
  left: 50%;
  height: 50px;
  line-height: 50px;
  letter-spacing: 2px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  top: 70%;
  transform: translate(-50%, -50%);
  transition: .5s;
  width: 300px;
}

.shop-button:before{
  background: linear-gradient(90deg, transparent, #fff, transparent);
  content: '';
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  transition: .5s;
  width: 100%;
}

.shop-button:hover:before{
  left: 100%;
}

/* ==== Product Preview ==== */

.product-preview{
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 20rem 20rem 20rem;
  justify-content: space-around;
  grid-gap: 5rem;

}

/* ==== Product Literal ==== */

.product-card{
  box-shadow: 10px 10px rgba(163, 163, 163, 0.52);
}

h2{
 letter-spacing: .3rem;
}

.product-price {
  margin-top: 20px;
}

img{
  width: 100%;
}

.product-bot{
  padding: .5rem 2rem;
}

.product-description{
  color: rgb(46, 46, 46);
  letter-spacing: .1rem;
  font-size: .8rem;
  margin-top: 15px;
}

.price-slash{
  text-decoration: line-through;
  color: rgba(2, 1, 1, 0.603);
  margin: 4rem 0 0 0
}

.price-actual{
  color: rgb(28, 134, 233);
  margin-top: 0;
}

.fa-shopping-cart{
  color: rgb(202, 202, 202);
  float: right;
  margin-bottom: 1rem;
  transition: 00ms ease-in-out;

}

.fa-shopping-cart:hover{
  color: rgb(28, 134, 233);
  cursor: pointer;
}

.to-cart {
  text-decoration: none;
}


/* ==== Divider 1 ==== */

hr{
  width: 20rem;
  margin: 5rem auto;
  color: rgb(199, 199, 199)
}

.divider{
  text-align: center;
}
