
/* ==== Select All ==== */

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

/* ==== Navigation bar ==== */

.sticky-nav {
  align-items: center;
  background-color: rgb(34, 34, 34);
  display: grid;
  font-weight: 300;
  grid-template-columns: 30rem 1fr 30rem;
  grid-template-rows: 2.5rem;
  letter-spacing: 2px;
  margin: none;
  overflow: hidden;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

.sale-countdown{
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  text-align: center;
}

.main-nav{
  text-align: right;
}

.main-nav a {
  color: white;
  padding: 14px;
  margin: none;
  text-decoration: none;
  transition: 300ms ease-in-out;
}

.main-nav a:hover{
  background-color: rgb(92, 92, 92);
}

.view-cart{
  padding: 5px;
}

.main-nav i{
  color: white;
  transition: 300ms ease-in-out;
}

.main-nav i:hover{
  color: #30b3ff;
  cursor: pointer;
}

/* ==== Landing Page ==== */

h1{
  font-size: 3rem;
}

.hero-carousel{
  align-items: center;
  background: no-repeat center fixed url("img/hero/hero1.jpeg");
  background-size: cover;
  color: #fff;
  display: grid;
  height: 60rem;
  grid-column-start: 1fr;
  justify-content: center;
}

.landing-container{
  margin-bottom: 9rem;
  filter: drop-shadow(3px 3px 3px #000);
  text-align: center;
}

/* ==== Shiny Button ==== */

.shop-button{
  background: linear-gradient(90deg, #30b3ff, #19c1eb);
  border-radius: 25px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  left: 50%;
  height: 50px;
  line-height: 50px;
  letter-spacing: 1px;
  letter-spacing: 1px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  top: 70%;
  transform: translate(-50%, -50%);
  transition: .5s;
  width: 300px;
}

.shop-button:before{
  background: linear-gradient(90deg, transparent, #fff, transparent);
  content: '';
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  transition: .5s;
  width: 100%;
}

.shop-button:hover:before{
  left: 100%;
}


