
/* ==== Select All ==== */

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}


/* ==== Top Header ==== */

/* = Sale bar = */
.non-sticky-nav{
  background-color: rgb(59, 59, 59);
}

.sale-countdown{
  color: rgb(255, 255, 255);
  display: grid;
  font-size: 1.2rem;
  grid-template-columns: 1fr 2rem;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  height: 2rem;
  align-content: center;
}

.fa-times-circle{
  color: rgb(110, 110, 110);
}

.fa-times-circle:hover{
  cursor: pointer;
  color: red
}

/* = Nav bar = */

.sticky-nav {
  align-items: center;
  background-color: rgba(34, 34, 34, 0.308);
  display: grid;
  font-weight: 300;
  grid-template-columns: 30rem 1fr 30rem;
  letter-spacing: 2px;
  margin: none;
  overflow: hidden;
  text-transform: uppercase;
}

.logo-sm{
  width: 25%;
  padding-left: 10px;
}

.main-nav{
  text-align: right;
}

.main-nav a {
  color: white;
  padding: 10px;
  margin: none;
  text-decoration: none;
  transition: 300ms ease-in-out;
}

.main-nav a:hover{
  background-color: rgb(92, 92, 92);
}

.view-cart{
  padding: 5px;
  cursor: pointer;
}

.main-nav i{
  color: white;
  transition: 300ms ease-in-out;
}

.main-nav i:hover{
  color: #30b3ff;
  cursor: pointer;
}

/* = Sticky the Nav after scroll = */

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

/* ==== Landing ==== */


.hero-carousel{
  align-items: center;
  background: no-repeat center fixed url("img/hero/hero1.jpeg");
  background-size: cover;
  color: #fff;
  display: grid;
  height: 60rem;
}

.hero-carousel li{
  text-shadow: 3px 3px #383838c9;
}

.emoji1,
.emoji2 {
  width: 10%;
}

.emoji1{
  transform: rotate(25)
}

.landing-container{
  margin-bottom: 7rem;
}

/* ~~~~ Shiny Button ~~~~ */

.landing-container a{
  margin-left: 35rem;
}
.shop-button{
  background: #2222226b;
  border: 1px solid white;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
  height: 50px;
  line-height: 50px;
  letter-spacing: 2px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
  width: 300px;
}

.shop-button:before{
  background: #fff;
  content: '';
  height: 100%;
  left: -30%;
  position: absolute;
  top: 0;
  transition: .5s;
  transform: skewX(-30deg);
  width: 20%;
}

.shop-button:hover:before{
  left: 110%;
}

/* ==== Product Preview ==== */

.product-preview{
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 20rem 20rem 20rem;
  justify-content: space-around;
  grid-gap: 5rem;
  transition: .5s;
}

/* ==== Product Summary ==== */

.product-card{
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
  height: 30rem;
}

.card-literal{
  padding: 15px;
  display: grid;
  grid-template-rows: 19rem 3rem 5rem;
}

.img-container{
  margin: 0 auto;
  width: 60%;
}

/* = Size Options = */

.size-options{
  border-top: 1px solid rgb(182, 182, 182);
  border-bottom: 1px solid rgb(182, 182, 182);
  text-align: center;
  display: grid;
  align-items: center;
}

.size-options span{
  padding: 8px 5px;
  margin: 0 10px;
  transition: 300ms ease-in-out;
}

.size-options span:hover{
  color: #ffffff;
  background-color: rgb(185, 185, 185);
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

/* = Product Details = */

.fa-times{
  position: absolute;
  margin: 1rem;
  color: rgb(207, 207, 207);
  transition: 300ms ease-in-out;
}

.fa-times:hover{
  color: red;
  cursor: pointer;
}

.product-name{
  margin: 1rem 0;
}

.availability{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.add-to-cart{
  color: rgb(153, 153, 153);
  transition: 300ms ease-in-out;
}

.add-to-cart:hover{
  color: #30b3ff;
  cursor: pointer;
}

.availability-dot{
  color: rgb(62, 195, 62);
}

/* ==== Divider 1 ==== */

hr{
  width: 20rem;
  margin: 5rem auto;
  color: rgb(199, 199, 199)
}

.divider{
  display: grid;
  grid-template-rows: 30rem 30rem 30rem;
  text-align: center;
  height: 90rem;
  background: no-repeat center fixed url("img/graphics/smokey.png");
}


.hero-divider{
  text-transform: lowercase;
  text-align: left;
  font-size: 9rem;
}

.divider img{
  width: 50%;
}


/* Save for something else  */


/* .color-options{
  margin-top: 1rem;
  text-align: center;
  border-top: 1px solid rgba(128, 128, 128, 0.322);
}

.color-options i {
  font-size: 1.5rem;
  padding: 3px 25px;
}

.var-red {
  color: rgb(255, 80, 80);
}

.var-green{
  color: rgb(106, 255, 106);
}

.var-yellow{
  color: rgb(255, 255, 104);
} */
